
table {width: 100%;
    border-collapse: separate;}

table th {
    color: white;
    text-align: center;
    background-color: rgb(10,182,255);
}

th, td {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    margin: 2px;
}

table th:not(:first-child) {width: 18%}

table + table {margin-top: 30px}

.lessonBox {
    cursor: move; /*kell!!*/
    display: inline-block; /*kell!!*/
    width: 100%;
    padding: 5px;
}
 
.lessonBox + .lessonBox {border-top: 2px solid white}
.lessonBox > span {display: block}/*kell!!*/

.timeless {text-align: center}
.timeless .lessonBox {
    text-align: left;
    max-width: 190px
}

.room {cursor: pointer}
.fix {background-color: orange !important;}
.nofix {color: black;}