.timetable,
.timetable-sm {
    background-color: white;
    text-align: center
}

.timetable th,
.timetable td,
.timetable-sm th,
.timetable-sm td {border: 1px solid rgba(0,0,0,.125)}

.lesson-box {
    background-color: whitesmoke;
    text-align: center;
    font: 1rem/1.3rem Times;
    padding: 2px;
    border: 1px solid #0AB6FF;
    border-radius: 5px;
}

.subject {
    font-weight: bold;
    background: rgba(10,182,255, 0.5);
}

.section {
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,.125);
}