@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

#timetable { /*container div*/
    background-image: url('../../img/design/old-paper.jpg');
    background-position: center;
    font-family: 'DM Serif Display', serif;
    text-align: center;
}

table {background-color: #573819;}

table, th, td {
    border: 2px solid gray;
}

th {color: gray}

.lessonBox {
    background-color: rgba(255, 228, 196, .8);
    border: 2px solid gray;
    padding: 2px;
    border-radius: 5px;
}

.subject {
    background-color: #ffc107;
}


.fix {color: red}
.subjectSection {color: gray; border-bottom: 2px solid gray;}

