@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

h1, h2, h3, h4, h5, h6 {font-family: 'Merriweather', serif}
a, a:active, a:hover {color: #0AB6FF}

ul {list-style: none; padding: 0; margin: 0}

/* header */
header {
    background-image: url("../img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: bottom;
}

.small-logo {height: 32px}

header a {
    color: whitesmoke;
    font-family: 'Merriweather', serif
}

header a:hover {
    color: white;
    text-shadow: 0 0 5px white;
    text-decoration: none;
}

.btn-form {
    color: white;
    background-color: #0AB6FF;
    border: 1px solid #0AB6FF;
}

/* left-nav*/
.topic-list a {
    display: block;
    color: black;
    padding: 4px 0px 4px 10px;
}

.topic-list a:hover {
    text-decoration: none;
    background-color: whitesmoke
}

.topic {position: relative}

.topic > i {
    position: absolute;
    top: 5px;
    right: 10px;
    color: gray;
    font-size: 1.5rem
}

.topic:not(.collapsed) {background-color: whitesmoke}

.topic:not(.collapsed) > i {transform: rotate(180deg)}

.active {font-weight: bold; background-color: whitesmoke}

.topic-list ul {
    list-style: none;
    padding-left: 10px;
    background-color: whitesmoke
}

/* content */
.highlight {
    background-color: whitesmoke;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
}

.tip,
.warning {
    display: block;
    font-weight: 500;
    margin-bottom: .5rem;
}

.tip {color: #0AB6FF}
.warning {color: red}


/* news */
.news {
    display: flex;
    margin-bottom: 1rem;
}

.news-date {
    width: 52px;
    height: 100%;
    text-align: center;
    background-color: whitesmoke;
    padding-top: 10px;
    margin-right: 1rem;
}

.news-date div:nth-child(2) {font-weight: bold}

.news-date > div:nth-child(3) {
    border-top: 13px solid whitesmoke;
    border-left: 26px solid white;
    border-right: 26px solid white;
}

/* footer */
footer {font-variant: small-caps}
footer ul:nth-child(1) a {color: #343a40} /*dark*/
footer ul:nth-child(2) a {color: #6c757d} /*gray*/